includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/mrpunyapal/peststan/extension.neon
parameters:
    paths:
        - app
        - database
        - tests
    level: 5
    peststan:
        testCaseClass: Tests\TestCase
